
<tr>
  <td>
    <%= post.title %>
  </td>
  <td>
    <%= link_to locals[:detail_key], post %>
    <%= link_to locals[:edit_key], edit_post_path(post) %>
    <%= link_to locals[:delete_key], post, :method => :delete, :data => {:confirm => locals[:confirm_message_key]} %>
  </td>
</tr>
